<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/dist/output.css" rel="stylesheet">
</head>
<body class="bg-blue-700">
    <div class="text-center border-b-2 mx-44 mt-7">
        <h1 class="text-white font-bold text-4xl pb-12 py-16">SILAHKAN PILIH BAHASA ANDA</h1>
    </div>
    <div class="text-center text-white font-bold text-4xl pt-12 ">
        <p>PLEASE SELECT YOUR LANGUAGE</p>
    </div>
    <div class="text-white font-bold text-right text-3xl mr-12 pt-12 px-5">
        <a href="pin.html">
            INDONESIA ->
        </a>
    </div>
    <div class="text-white font-bold text-right text-3xl mr-12 pt-32 px-5">
        <a href="pin.html">
            ENGLISH ->
        </a>
    </div>
    <div class="text-center border-b-2 mx-44 pt-12 py-4">
        <h2 class="text-white text-4xl font-bold pb-12 py-6">TO OBTAIN CARD PRESS CANCEL</h2>
    </div>
    <div class="text-center text-white text-4xl font-bold pt-12">
        <p>TEKAN 'CANCEL' UNTUK MEMBATALKAN</p>
    </div>
</body>
</html>