<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/dist/output.css" rel="stylesheet">
</head>
<body class="bg-blue-700">
  <div class="flex text-center text-white font-bold text-4xl mt-28 pl-32">
    <p>SILAHKAN MASUKAN KARTU<br> ANDA </p>
    <div class="justify-center mt-12 mx-1 pr-12">
      <a href="bahasa.html"><img src="/img/insert.png" alt=""></a>
    </div>
  </div>
  <div class="text-white w-1/2 text-center font-bold text-4xl mt-8 pl-30">
    <p>PLEASE INSERT YOUR CARD</p>
  </div>
</body>
</html>