c<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/dist/output.css" rel="stylesheet">
</head>
<body class="bg-blue-700">
  <div class="text-white text-center text-4xl font-sans pt-24 py-4">
      <p>PILIH JENIS TRANSAKSI</p>
  </div>
  <div class="flex justify-center space-x-12 mt-16">
      <div class="grid text-white text-3xl font-sans space-y-24 w-1/2">
          <p><-PENARIKAN</p>
          <p><-TRANSFER</p>
          <p><-PEMBELIAN </p>
          <p> <-LAINNYA</p>
      </div>
      <div class="grid text-white text-3xl font-sans space-y-24 ">
        <p> INFO REKENING-></p>
        <p>PEMBAYARAN-></p>
        <p>UBAH PIN-> </p>
        <a href="ambilkartu.html"><p> KELUAR-></p></a>
    </div>
  </div>
</body>
</html>